body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: [row1] 1fr, [row2] 0.5fr, [row3] 3fr, [row4] 1fr;
    background-color: rgb(252, 250, 254);
}
#header{
    grid-row-start: 1;
    grid-row-end: 2;
 background-color: seagreen;
}
#tabs{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: red;
}
#content{
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: royalblue;
    width: 100%;
}
#footer{
    background-color: slategrey;
    margin-bottom: 0px;
}