body{
    width: 99%;
    height: 99%;
    display: grid;
    grid-template-columns: [col1] 1fr, [col2] 1fr, [col3] 1fr, [col4] 1fr;
    grid-template-rows: [row1] 1fr, [row2] 0.5fr, [row3] 3fr, [row4] 1fr;
    background-color: rgb(252, 250, 254);
}
#header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
 background-color: seagreen;
}
#tabs{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: red;
}