html{
    height: 100%;
    width: 100%;
}
body{
    width: 85%;
    height: 100%;
    display: block;
    background-color: rgb(252, 250, 254);
    margin: 0 auto;
    font-family: monospace;
    font-size: x-large;
}
#header{
    height: 12%;
    background-color: rgb(0, 200, 210);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    line-height: 100%;
}
#cat{
    grid-column: 1;
    height: 100%;
}
#dog{
    grid-column: 3;
    margin-left: auto;
    height: 100%;
}
#headText{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    line-height: 100%;
    margin: auto auto;
}
#tabs{
    height: fit-content;
    background-color: rgb(191, 252, 255);
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr;
}
#tabs a{
    width: 100%;
    margin: auto;
}
.tabbutton{
    grid-column: auto;
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: rgb(0, 255, 132);
    color: rgb(0, 123, 255);
    text-decoration: none;
    cursor: pointer;
}
#content{
    height: 75%;
    width: 100%;
    font-size: initial;
    padding-bottom: auto;
    text-align: justify ;
}
#footer{
    position: relative;
    display:grid;
    grid-template-rows: 82% 15%;
    grid-template-columns: 75% 25%;
    align-self:right;
    bottom: 0px;
    height: 13%;
    background-color: rgb(0, 200, 210);
    margin-bottom: 0px;
}
.footcontent{
    font-size: initial;
}
#info{
    grid-column: 2;
    text-align: left;
    font-size: 20px;

}
#c{
    grid-row: 2;
    grid-column: span 2;
    text-align: center;
}
