html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(252, 250, 254);
    margin: 0;
}
#header{
    height: 18%;
    background-color: seagreen;
}
#tabs{
    height: 9%;
    background-color: red;
}
#content{
    height: 55%;
    background-color: royalblue;
    width: 100%;
}
#footer{
    position: relative;
    top: 100%;
    height: 18%;
    background-color: slategrey;
    margin-bottom: 0px;
}