html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(252, 250, 254);
    margin: 0;
}
#header{
    height: 12%;
    background-color: rgb(191, 252, 255);
}
#tabs{
    height: 5%;
    background-color: rgb(191, 252, 255);
}
#content{
    height: 73%;
    width: 100%;
}
#footer{
    height: 10%;
    background-color: rgb(191, 252, 255);
    margin-bottom: 0px;
}