html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(252, 250, 254);
    margin: 0;
}
#header{
    height: 12%;
    background-color: rgb(0, 200, 210);
}
#tabs{
    height: 5%;
    background-color: rgb(191, 252, 255);
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr;
}
.tabbutton{
    grid-column: auto;
    line-height: auto;
    padding: 5%;
    margin: auto auto;
}
.tabbutton:hover{
    background-color: rgb(0, 255, 132);
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(0, 123, 255);
    text-decoration: none;
    cursor: pointer;
}
#content{
    height: 73%;
    width: 100%;
}
#footer{
    height: 10%;
    background-color: rgb(0, 200, 210);
    margin-bottom: 0px;
}