html{
    height: 100%;
    width: 100%;
}
body{
    width: 85%;
    height: 100%;
    display: block;
    background-color: rgb(252, 250, 254);
    margin: 0;
    font-family: monospace;
    font-size: x-large;
}
#header{
    height: 12%;
    background-color: rgb(0, 200, 210);
}
#tabs{
    height: fit-content;
    background-color: rgb(191, 252, 255);
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr;
}
#tabs a{
    width: 100%;
    margin: auto;
}
.tabbutton{
    grid-column: auto;
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: rgb(0, 255, 132);
    color: rgb(0, 123, 255);
    text-decoration: none;
    cursor: pointer;
}
#content{
    height: 75%;
    width: 100%;
    font-size: initial;
    padding-bottom: auto;
}
#footer{
    position: relative;
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr;
    bottom: 0px;
    height: 10%;
    background-color: rgb(0, 200, 210);
    margin-bottom: 0px;
}
.footcontent{
    width: fit-content;
    height: 100%;
    font-size: small;
}